main-workflow.json
{
  "name": "Site Performance + Analyzer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2256,
        528
      ],
      "id": "3f4e4997-d747-48b8-b14e-6744650e0969",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "=https://data.similarweb.com/api/v1/data?domain={{ $json.url.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0].split('?')[0].split('#')[0].split(':')[0].trim() }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"accept\": \"*/*\",\n  \"accept-encoding\": \"gzip, deflate, br, zstd\",\n  \"accept-language\": \"en-US,en;q=0.9\",\n  \"content-type\": \"application/json\",\n  \"cookie\": \"sgID=cb008a74-9792-4803-6861-e10e1d9c6ccf; sw_extension_installed=1762654763188\",\n  \"priority\": \"u=1, i\",\n  \"sec-fetch-dest\": \"empty\",\n  \"sec-fetch-mode\": \"cors\",\n  \"sec-fetch-site\": \"none\",\n  \"sec-fetch-storage-access\": \"active\",\n  \"sec-gpc\": \"1\",\n  \"user-agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36\",\n  \"x-extension-version\": \"6.12.11\",\n  \"cookies\": \"sgID=cb008a74-9792-4803-6861-e10e1d9c6ccf; sw_extension_installed=1762654763188\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        528
      ],
      "id": "bfc58c7c-2187-4ffb-b065-598ba17be109",
      "name": "Get Traffic Stats"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the original website data (from loop)\nconst websiteData = $('Filter out empty objects').item.json;\n\n// Get the SimilarWeb data (from HTTP Request)\nconst data = $input.item.json.body;\n\n// Build top countries object dynamically\nconst topCountries = {};\nconst countries = data.TopCountryShares || [];\ncountries.slice(0, 3).forEach(country => {\n  topCountries[country.CountryCode] = country.Value * 100;\n});\n// ... your existing code ...\n\n// Merge everything together\nreturn {\n    // Original data\n    url: websiteData.url,\n    source: websiteData.source,\n    lcp_percentile: websiteData.lcp_percentile,\n    lcp_score: websiteData.lcp_score,\n    inp_percentile: websiteData.inp_percentile,\n    inp_category: websiteData.inp_category,\n    cls_percentile: websiteData.cls_percentile,\n    cls_category: websiteData.cls_category,\n    overall_category: websiteData.overall_category,\n    lighthouse_score: websiteData.lighthouse_score,\n    \n    // Flatten top countries\n    top_country_1_code: Object.keys(topCountries)[0] || null,\n    top_country_1_traffic: Object.values(topCountries)[0] || null,\n    top_country_2_code: Object.keys(topCountries)[1] || null,\n    top_country_2_traffic: Object.values(topCountries)[1] || null,\n    top_country_3_code: Object.keys(topCountries)[2] || null,\n    top_country_3_traffic: Object.values(topCountries)[2] || null,\n    \n    // SimilarWeb metrics\n    monthly_visits: data.Engagments?.Visits || null,\n    bounce_rate: (data.Engagments?.BounceRate || 0) * 100,\n    page_per_visit: data.Engagments?.PagePerVisit || null,\n    time_on_site: data.Engagments?.TimeOnSite \n      ? `${Math.floor(data.Engagments.TimeOnSite / 60)}.${Math.floor(data.Engagments.TimeOnSite) % 60}`\n      : null,\n    \n    // Flatten traffic sources\n    traffic_direct: (data.TrafficSources?.Direct || 0) * 100,\n    traffic_search: (data.TrafficSources?.Search || 0) * 100,\n    traffic_referrals: (data.TrafficSources?.Referrals || 0) * 100,\n    traffic_social: (data.TrafficSources?.Social || 0) * 100\n  }\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        528
      ],
      "id": "21759da5-1374-47a3-b79e-a9a81fd1ef97",
      "name": "Merge data1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        912,
        672
      ],
      "id": "a71f8c46-4840-4fd4-b7f3-a48c13cf69b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Wl53zPYJoEmCBPY",
          "mode": "list",
          "cachedResultUrl": "/workflow/6Wl53zPYJoEmCBPY",
          "cachedResultName": "PageSpeed API Call"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "urls": "={{ $json.urls }}"
          },
          "matchingColumns": [
            "urls"
          ],
          "schema": [
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        720
      ],
      "id": "111d78cc-7839-4c1f-ab8d-d746ecc340fd",
      "name": "Call 'PageSpeed API Call'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        672
      ],
      "id": "16dc6fe7-b1f4-4055-a18d-e40ae87d7f8c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "543600f8-13f7-4ecc-9c80-565f771edb8d",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1584,
        528
      ],
      "id": "ec6e67a5-37ac-4d4f-8e74-5422386b4517",
      "name": "Filter out empty objects"
    },
    {
      "parameters": {
        "content": "Set this to Google SERP workflow",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        880
      ],
      "typeVersion": 1,
      "id": "66b8e2e7-066a-42f5-9f0a-5ed67594c269",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4FrL6kxfoLoLRhoQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/4FrL6kxfoLoLRhoQ",
          "cachedResultName": "Google SERP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "any"
          ],
          "schema": [
            {
              "id": "any",
              "displayName": "any",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        672
      ],
      "id": "5ab3a138-8efd-4f05-a310-400afe924680",
      "name": "Get URLs via Custom Search API1"
    },
    {
      "parameters": {
        "content": "Set this to PageSpeed API Call \n\nwith workflow input of\n\nurls = {{ $json.urls }}",
        "height": 128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        928
      ],
      "typeVersion": 1,
      "id": "36fecfd6-4a32-418f-8a03-dfc2495be7ae",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Traffic Stats": {
      "main": [
        [
          {
            "node": "Merge data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get URLs via Custom Search API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PageSpeed API Call'": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Filter out empty objects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'PageSpeed API Call'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty objects": {
      "main": [
        [
          {
            "node": "Get Traffic Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URLs via Custom Search API1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "706d6c2a-756b-45d6-9f73-1e58cf744eb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "caa97ec828044ebe5f6dfa934955be9af1a27616800ca0bafa1f9b4819663c57"
  },
  "id": "FJvs9dhrWhMAEnMF",
  "tags": []
}