subworkflows/google-serp-urls.json
{
  "name": "Google SERP",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cx",
              "value": "YOUR_CX_KEY"
            },
            {
              "name": "num",
              "value": "5"
            },
            {
              "name": "q",
              "value": "skateboards site:myshopify.com"
            },
            {
              "name": "start",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{$pageCount * 10 + 1}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $pageCount >= 3 }}",
              "limitPagesFetched": true,
              "maxRequests": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        -176
      ],
      "id": "8bff3820-1a74-45fc-9487-6ba7f09d5f08",
      "name": "Request Custom Search API",
      "credentials": {
        "httpQueryAuth": {
          "id": "vJErJnF3RSSJZ11N",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7cef3bf-b272-4d14-b30f-04778c3c70af",
              "name": "body.items",
              "value": "={{ $json.body.items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -176
      ],
      "id": "a839e2b0-54cd-483b-80f3-406ac4ca0606",
      "name": "Extract URLs"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst domains = new Set();\n\nfor (const node of allItems) {\n  // Your data is at body.items, not json.items\n  const items = node.json.body?.items || [];\n  \n  for (const item of items) {\n    if (item.link) {\n      // Extract just the domain (not full URL with path)\n      const match = item.link.match(/^(https?:\\/\\/[^\\/]+)/);\n      if (match) {\n        domains.add(match[1]);\n      }\n    }\n  }\n}\n\nreturn Array.from(domains).map(domain => ({\n  json: { url: domain }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -176
      ],
      "id": "62dcda09-008c-4027-9a16-2d1ab3f4df1d",
      "name": "Get the root URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbf74bc2-3ea9-499d-a8c0-c3c5af19baf0",
              "name": "urls",
              "value": "={{ $json.trimmedFinalUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -176
      ],
      "id": "d2b89291-30c8-4148-993f-1634dd5bf8e5",
      "name": "Extract the final URL"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -176
      ],
      "id": "75b35d19-c6f6-4c68-937a-f2b781726116",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://redirect-resolver-1.onrender.com/redirect?url={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        -176
      ],
      "id": "64aa1ccc-7b45-4216-afdc-892309dc2390",
      "name": "Resolve redirects"
    },
    {
      "parameters": {
        "content": "Set your own query auth with Google Cloud API key \n\nand add your own CX key",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        32
      ],
      "typeVersion": 1,
      "id": "95786e5e-ab15-4fde-b402-12c0a91fc284",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Request Custom Search API": {
      "main": [
        [
          {
            "node": "Extract URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URLs": {
      "main": [
        [
          {
            "node": "Get the root URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the root URL": {
      "main": [
        [
          {
            "node": "Resolve redirects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Request Custom Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve redirects": {
      "main": [
        [
          {
            "node": "Extract the final URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5029999f-097f-4d61-a395-ae2d0cd59a70",
  "meta": {
    "instanceId": "caa97ec828044ebe5f6dfa934955be9af1a27616800ca0bafa1f9b4819663c57"
  },
  "id": "4FrL6kxfoLoLRhoQ",
  "tags": []
}